<div>
  <h1>Test</h1>
</div>


{% schema %}
  {
  "name": "Section name",
    "tag": "section",
  "class": "section"
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
