<style>
  .gradWrap {
    width: 100%;
    background-image: linear-gradient(#89a64b, #ebf8cd);
    position: relative;
    top: -15px;
    display: block !important;
    height: 90px;
  }
</style>

<div class="gradWrap">
    
</div>