<style>
  .footerWrap {
    padding-top: 10px;
    width: 100%;
    min-height: 75px;
    border-top: 2px solid #555555;
    position: relative;
    top: 50px;
  }

  .footerTop {
    display: block !important;
    border-top: 2px solid #555555;
    border-bottom: 2px solid #555555;
    padding: 10px 25px;
  }

  .footerBottom {
    
  }
</style>

<div class="footerWrap">
  <div class="footerTop"></div>
  <div class="footerBottom"></div>
</div>