<style>
  .footerWrap {
    padding-top: 10px;
    width: 100%;
    min-height: 75px;
    position: relative;
    top: 50px;
  }

  .footerTop {
    border-top: 2px solid #555555;
    border-bottom: 2px solid #555555;
    padding: 20px 45px;
    display: flex;
    justify-content: space-between;
  }

  .footerTop img {
    width: 20%;
    object-fit: contain;
  }

  .contactBox {
    width: 20%;
    background-color: #EBF8CE;
    border-radius: 10px;
    padding: 35px 50px;
  }

  .contactBox p {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
  }

  .conBut {
    margin: 0 auto;
    margin-top: 15px;
    width: fit-content;
    border-radius: 10px;
    background-color: #78B000;
    box-shadow: 5px 5px 10px #00000055;
  }

  .conBut a {
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 15px 20px
  }

  .textTop {
    width: 55%;
  }

  .textTop h4 {
    font-size: 3.2rem;
    color: #6F573F;
  }

  .textTop p {
    font-size: 1.8rem;
  }

  .textTop p span {
    color: #78B000;
    font-weight: bold;
  }

  .footerBottom {
    width: 75%;
    margin: 0 auto;
    display: flex;
    padding: 25px 0;
    justify-content: space-between;
    align-items: center;
  }

  .contactWrap {
    display: flex;
    flex-direction: column;
  }

  .contactLine {
    display: flex;
    color: black;
  }

  .contactLine a {
    display: flex;
    text-decoration: none;
    color: black;
  }

  .contactLine img {
    object-fit: contain;
  }

  .contactLine p {
    margin-left: 15px;
  }

  .footIcos {
    display: flex;
  }

  .footIcos a {
    width: 30px;
    height: 30px;
    margin: 0 15px;
    
  }

  .footIcos img {
    object-fit: contain;
    width: 30px;
    height: 30px;
  }

  .footVBottom {
    background-color: black;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 75px;
  }

  .footVBottom p {
    color: white;
  }

  @media screen and (max-width: 1368px) {
    .contactBox {
      padding: 15px;
    }
  }

  @media screen and (max-width: 1200px) {
    .footerTop {
      flex-direction: column;
    }

    .footerTop img, .textTop, .contactBox {
      width: 100%;
    }

    .footerBottom {
      flex-direction: column;
    }

    .footVBottom {
      flex-direction: column;
      height: auto;
    }
  }

  #shopify-section-sections--20710880084284__footer {
    position: relative;
    top: -50px;
  }
</style>

<div class="footerWrap">
  <div class="footerTop">
    <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Mask_Group_29.jpg?v=1695065088" />
    <div class="textTop">
      <h4>Commercial Pecan Cleaning Services</h4>
      <p><span>Southern Pecan Orchard</span> offers our services in commercial pecan cleaning to area growers. Our innovative technology processes in-shell pecans through a series of cleaning stages that begins with removing farm level foreign material picked up during harvesting. Once cleaned and dried, the in-shell pecans will be sorted and graded into size ranges for processing.</p>
    </div>
    <div class="contactBox">
      <p>We stand by our commitment to offer high-quality pecans not only for our customers, but for yours too.</p>
      <div class="conBut">
        <a href="https://southern-pecan-products.myshopify.com/pages/contact">
          Contact Us
        </a>
      </div>
    </div>
  </div>
  <div class="footerBottom">
    <a href="https://southern-pecan-products.myshopify.com"><img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Group_7.png?v=1692796748" /></a>
    <div class="contactWrap">
      <div class="contactLine">
        <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Icon_ionic-md-pin.png?v=1695129461" />
        <p>1490 Levie Rd., Montezuma, GA 31063</p> 
      </div>
      <div class="contactLine">
        <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Icon_awesome-phone-alt.png?v=1695129114" />
        <p>(478) 458-0018</p>
      </div>
      <div class="contactLine">
        <a href="mailto:info@southernpecanproducts.com"><img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Icon_zocial-email.png?v=1695129490" />
        <p>info@southernpecanproducts.com</p></a>
      </div>
    </div>

    {% for link in linklists.footer.links %}
      <a href="{{ link.url }}">{{ link.title }}</a>
    {% endfor %}
    
    <div class="footIcos">
      <a href="https://www.facebook.com/SouthernPecanProducts" target="_blank">
        <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Icon_awesome-facebook.png?v=1695131393" />
      </a>
      <a href="/account">
        <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Icon_material-person_dab43978-7510-45fd-9604-b71a7a74a5b8.png?v=1695131430" />
      </a>
      <a href="/cart">
        <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Icon_ionic-md-cart_a76d91aa-8e45-4dba-9fa9-aa1715d10216.png?v=1695131410" />
      </a>
      
    </div>
    
  </div>
  <div class="footVBottom">
    <p>©2023 Southern Pecan Products  - All Rights Reserved</p>
    <a href="https://365degreetotalmarketing.com/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Group_64.png?v=1695070768" /></a>
  </div>
</div>