<style>
  .footerWrap {
    padding-top: 10px;
    width: 100%;
    min-height: 75px;
    position: relative;
    top: 50px;
  }

  .footerTop {
    display: block !important;
    border-top: 2px solid #555555;
    border-bottom: 2px solid #555555;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
  }

  .footerTop img {
    width: 20%
  }

  .textTop {
    width: 75%;
  }

  .textTop h4 {
    font-size: 3.2rem
    color: #6F573F;
  }

  .textTop p {
    font-size: 1.8rem;
  }

  .textTop p span {
    color: #78B000;
    font-wight: bold;
  }

  .footerBottom {
    
  }
</style>

<div class="footerWrap">
  <div class="footerTop">
    <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Mask_Group_29.jpg?v=1695065088" />
    <div class="textTop">
      <h4>Commercial Pecan Cleaning Services</h4>
      <p><span>Southern Pecan Orchard</span> offers our services in commercial pecan cleaning to area growers. Our innovative technology processes in-shell pecans through a series of cleaning stages that begins with removing farm level foreign material picked up during harvesting. Once cleaned and dried, the in-shell pecans will be sorted and graded into size ranges for processing.</p>
    </div>
  </div>
  <div class="footerBottom"></div>
</div>