<style>
  .foorterWrap {
    display: block !important;
    padding-top: 10px;
    width: 100%;
    min-hight: 75px;
    border-top: 2px solid #CCCCCC;
  }
</style>

<div class="footerWrap">
  
</div>