<style>
  .gradWrap {
    width: 100%;
    background-image: linear-gradient(#89a64b, #ebf8cd);
    position: relative;
    top: -15px;
    display: block !important;
    height: 100px;
  }

  #shopify-section-template--20969632366908__f4a6d1d0-5d82-43ae-bfea-744e127a1c1f { 
    top: -120px;
  }

  #shopify-section-sections--20710880084284__footer {
    position: relative;
    top: -120px;
    height: 100px;
  }
</style>

<div class="gradWrap">
    
</div>