<style>
  .gradWrap {
    width: 100%;
    background-image: linear-gradient(#89a64b, #ebf8cd);
    position: relative;
    top: -150px;
  }

  .infoBox {
    outline: 15px solid white;
    width: 90%;
    border: 2px solid #78B000;
    background: url(https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Mask_Group_3.jpg?v=1692899606);
    background-size: cover;
    display: flex;
    align-items: center;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    top: -450px;
  }

  .backBoxHid {
    position: relative;
    z-index: 1;
    width: 93%;
    top: 265px;
    background-color: #58810077;
    display: block !important;
    height: 650px;
    margin: 0 auto;
  }

  .decoWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 999;
    
  }

  .decoBox {
    width: 10px;
    height: 600px;
    display: block !important;
    background-color: #6F573F77;
    position: relative;
  }

  .innerInfoWrap {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .infoBlock {
    width: 30%
  }

  .infoBlock h4 {
    font-size: 2.4rem;
    color: #6F573F;
    font-weight: bold;
  }

  .infoBlock p {
    font-size: 1.8rem;
    margin-top: 20px;
  }

  .imgBlock {
    width: 55%;
    object-fit: contain;
  }

  .imgBlock img {
    
    width: auto;
    height: auto;
  }
</style>

<div class="gradWrap">
    <div class="backBoxHid"></div>
    <div class="infoBox">
      <div class="decoWrap">
      <div class="decoBox decoBoxLeft"></div>
        <div class="innerInfoWrap">
        <div class="infoBlock">
          <h4>When you choose Southern Pecan Products, you support a Centennial Farm, established in 1910. The fourth and fifth generations of the Levie family continue to produce some 
            of the finest pecans in the Southeast. </h4>
          <p>The Levie family purchased Southern Pecan Orchards in Montezuma, Georgia in 1910, originally growing peaches and cotton while also raising hogs, cows, and mules. They planted their first pecan orchard around 1918. They plant newer varieties periodically and the same trees a century ago – through today –produce the nutritious nuts that help to define a flavor of the South.</p>
          <p>David Levie, and son Danny Levie, continue to improve their orchards to produce the highest quality pecans in Georgia. We look forward to doing business with you.</p>
        </div>
        <div class="imgBlock">
          <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Group_70.png?v=1692903632" loading="lazy" />
        </div>
      </div>
      <div class="decoBox decoBoxRight"></div>
      </div>
      
    </div>
</div>