<style>
  .menuVidWrap {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    position: relative;
    top: -45px;
    box-shadow: 0 -3px 16px #588100;
  }

  .bowTop {
    width: 85%;
    position: relative;
    top: -35px;
    border-radius: 35px;
    display: block !important;
    background-color: white;
    min-height: 400px;
  }

  .menuVidBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
  }

  .menuBox {
    background-color: #78B000;
    text-align: center;
  }

  .whiteBox {
    background-color: white;
    padding: 15px 0;
  }

  .whiteBox h3 {
    font-size: 2.2rem;
    color: #6B6B6B;
    padding: 0;
  }

  .menuBox ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
  }

  .menuBox ul li:not(:first-child) {
    padding: 10px 0;
    border-bottom: 2px dotted #588100;
    margin-left: 20px;
    list-style: dot;
  }

  .menuBox ul li {
    color: white;
    text-align: left;
  }

  .menuBox ul li img {
    position: relative;
    top: 0;
  }

  .vidBox {
    width: 65%
  }
</style>

<div class="menuVidWrap">
  <div class="bowTop">
    <div class="menuVidBox">
      <div class="menuBox">
        <div class="whiteBox">
        <h3>Product Categories</h3>
        </div>
        <ul>
          <li>
            <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Group_191.jpg?v=1692910681" loading="lazy" />
          </li>
          <li>Shelled Pecans</li>
          <li>In Shell Pecans</li>
          <li>Cracked Pecans</li>
          <li>Roasted Pecan</li>
          <li>Pecan Treats</li>
          <li>Holiday Tins</li>
        </ul>
      </div>
      <div class="vidBox">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/pp9-OOMnQT0" title="Southern Pecan Products" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>