<style>
  .gradWrap {
    min-height: 400px;
    width: 100%;
    background-image: linear-gradient(#89a64b, #ebf8cd);
    position: relative;
    top: -40px;
  }
</style>

<div class="gradWrap">
  <div>
    <div>
      <h1>Info Box</h1>
    </div>
  </div>
</div>