<style>
  .woodWrap {
    width: 100%;
    background: url("https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Mask_Group_11.jpg?v=1692981418");
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    top: -45px;
    padding: 14px 0;
  }

  .greenBox {
    width: 85%;
    background-color: #EBF8CEdd;
    min-height: 900px;
    padding: 25px;
    box-shadow: 0 0 16px #000000dd
  }

  .rowWrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-around;
  }

  .dubBox {
    width: 48.9%;
    background: url("https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Mask_Group_28.jpg?v=1692985750");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    display: block !important;
    margin-top: 15px;
  }

  .sBox {
    width: 24%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    display: block !important;
    margin-top: 15px;
    
  }

  .sBox1 {
    background: url("https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Group_87.jpg?v=1692985750");
  }

  .sBox2 {
    background: url("https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Group_88.jpg?v=1692985855");
  }

  .sBox3 {
    background: url("https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Group_92.jpg?v=1692985903");
  }

  .sBox4 {
    background: url("https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Group_89.jpg?v=1692985963");
  }

  .sBox5 {
    background: url("https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Group_91.jpg?v=1692986022");
  }

  .sBox6 {
    background: url("https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Group_90.jpg?v=1692986071");
  }
</style>

<div class="woodWrap">
  <div class="greenBox">
    <div class="rowWrap">
      <div class="dubBox"></div>
      <div class="sBox sBox1"></div>
      <div class="sBox sBox2"></div>
      <div class="sBox sBox3"></div>
      <div class="sBox sBox4"></div>
      <div class="sBox sBox5"></div>
      <div class="sBox sBox6"></div>
    </div>
  </div>
</div>