<style>
  .menuVidWrap {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    position: relative;
    top: -45px;
  }

  .bowTop {
    width: 85%;
    position: relative;
    top: -35px;
    border-radius: 35px;
    display: block !important;
    background-color: white;
    min-height: 400px;
  }
</style>

<div class="menuVidWrap">
  <div class="bowTop"></div>
</div>