<style>
  .gradWrap {
    width: 100%;
    background-image: linear-gradient(#89a64b, #ebf8cd);
    position: relative;
    top: -15px;
    display: block !important;
    height: 60px;
  }

  #shopify-section-template--20826432078140__615727bb-6f0b-4e66-80aa-dc39c22e5687 {
    top: -160px;
  }

  #shopify-section-sections--20710880084284__footer {
    position: relative;
    top: -160px;
    height: 100px;
  }

  #shopify-section-template--21441994752316__615727bb-6f0b-4e66-80aa-dc39c22e5687 h2 {
    padding: 15px 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 45px;
  }
</style>

<div class="gradWrap">
    
</div>