<style>
  .menuVidWrap {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    position: relative;
    top: 30px;
    box-shadow: 0 -3px 3px #588100;
    botom: 0;
  }

  .bowTop {
    width: 85%;
    position: relative;
    top: -35px;
    border-radius: 35px;
    display: block !important;
    background-color: white;
    min-height: 90px;
  }

  .menuVidBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
  }

  .menuBox {
    background-color: #78B000;
    text-align: center;
    width: 30%;
  }

  .whiteBox {
    background-color: white;
    padding: 15px 0;
  }

  .whiteBox h3 {
    font-size: 2.8rem;
    color: #6B6B6B;
    margin: 0;
    font-weight: bold;
  }

  .menuBox ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
  }

  .menuBox ul li:not(:first-child) {
    padding: 20px 0;
    border-bottom: 2px dotted #FFFFFF;
    margin-left: 20px;
    list-style-type: square;
    list-style-position: inside;
    margin: 0 25px;
    padding-left: 25px;
    font-size: 2.4rem;
  }

  .menuBox ul li:last-child {
    border-bottom: none;
  }

  .menuBox ul li {
    color: white;
    text-align: left;
  }

  .menuBox ul li img {
    position: relative;
    top: 0;
    width: 100%
  }

  .imgLi {
    object-fit: cover;
  }

  .vidBox {
    width: 62%;
    border: 6px solid white;
    outline: 2px solid #78B000;
  }

  .reviewBox {
    width: 100%;
    background-color: #EBF8CE;
    border-radius: 15px;
    display: flex;
    border: 1px solid #78B000;
    margin-top: 20px;
  }

  .revLeft {
    display: flex;
    width: 30%;
    padding: 0 25px;
    margin: 10px 0;
    border-right: 1px solid #6B6B6B;
    justify-content: space-between;
    align-items: center;
  }

  .revLeft img {
    max-height: 150px;
  }

  .revName {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    object-fit: contain;
    width: 50%
  }

  .revName h5 {
    font-size: 1.6rem;
    color: #78B000;
    margin: 0;
    font-weight: bold;
  }

  .revName p {
    font-size: 1.6rem;
    margin: 0;
    color: black;
  }

  .revName img {
    max-width: 150px;
  }

  .revRight {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
  }

  .revRight p {
    font-size: 1.8rem;
    color: black;
    font-weight: bold;
  }

  #shopify-section-template--20712611938620__pecan-tab-section {
    position: relative;
    top: -170px;
  }

  #shopify-section-template--20712611938620__753898f2-7689-4846-a2cc-1cd9363e9059 {
    position: relative;
    top: -220px;
  }

  #shopify-section-template--20712611938620__753898f2-7689-4846-a2cc-1cd9363e9059 h2, #shopify-section-template--20712611938620__9bb0f9d6-ddbf-4b31-99a0-773966deafdf h2, #shopify-section-template--20712611938620__7b5009ff-4115-4938-8251-2b93aa453610 h2 {
    padding: 15px 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 45px;
  }

    .h5 a {
    text-align: center;
    font-size: 1.9rem;
    font-weight: bold;
    background-color: #78B000;
    color: white;
      height: 105px;
  }
    
  .price {
    text-align: center;
    font-size: 2rem;
      padding: 5px 0;
      font-weight: bold;
  }
</style>

<div class="menuVidWrap">
  <div class="bowTop">
    
  </div>
</div>