<style>
  .woodWrap {
    width: 100%;
    background: url("https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Mask_Group_11.jpg?v=1692981418");
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
    padding: 14px 0;
    z-index: -1;
  }

  #shopify-section-template--20710881034556__index-wood {
    height: 405px;
  }

  .greenBox {
    width: 85%;
    background-color: #EBF8CEdd;
    padding: 25px;
    box-shadow: 0 0 16px #000000dd
  }

  .headTitle {
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
    
  }

  .headTitle img {
    object-fit: contain;
    max-width: 100%;
  }

  .allCardWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 45px;
  }

  .cardWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .resTitle {
    width: fit-content;
    background-color: #060707;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
  }

  .resTitle p {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 5px 25px;
  }

  .shadowWrap {
    box-shadow: 5px 5px 8px #000000aa;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .ingred {
    display: flex;
  }

  .ingred img {
    width: 50%;
  }

  .ingredBox {
    display: block !important;
    width: 50%;
    background-color: white;
    border-top-right-radius: 15px;
    padding: 10px 30px;
  }

  @media screen and (max-width: 1200px) {
    .greenBox {
      width: 100%;
      padding: 25px 0;
    }

    .headTitle img {
      max-width: 110%;
      overflow: hidden;
    }

    .ingred {
    flex-direction: column;
  }

  .ingred img {
    width: 100%;
  }

    .ingredBox {
      width: 100%
    }

    .allCardWrap {
      padding: 20px 0;
    }
  }

  .instruct {
    width: 100%;
    background-color: #F3F9E5;
    padding: 10px 40px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .instructHead {
    border-bottom: 1px solid #707070;
  }

  .instructHead h6 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    padding-bottom: 5px;
  }

  .instruct h5, .ingredBox h5 {
    color: #588100;
    font-weight: bold;
  }

  .lineWrap {
    display: flex;
    margin-bottom: 5px;
  }

  .numb {
    padding: 0 10px;
    margin-right: 10px;
    border-radius: 90%;
    background-color: #CFE0A9;
    align-self: start; 
  }

  .numb p {
    font-size: 1.8rem;
    font-weight: bold;
    color: #588100;
    margin: 0;
  }

  .line p {
    margin: 0;
  }

  .divider {
    width: 100%;
    margin: 30px 0;
  }

  .dLine {
    width: 100%;
    height: 4px;
    border-bottom: 2px solid #707070;
    display: block !important;
  }
</style>

<div class="woodWrap">
  <div class="greenBox">
    <div class="headTitle">
      <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Component_1_1.png?v=1695229497" />
    </div>
    <div class="allCardWrap">
      <div class="cardWrap">
        <div class="resTitle">
          <p>Chocolate Pecan Pie</p>
        </div>
        <div class="shadowWrap">
        <div class="ingred">
          <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Mask_Group_45.jpg?v=1695230902" />
          <div class="ingredBox">
            <div class="instructHead">
              <h6>Ingredients</h6>
            </div>
            <h5>Cream Cheese Pie Dough</h5>
            <ul>
              <li>3½ cups all-purpose flour</li>
              <li>2 tablespoons sugar</li>
              <li>½ teaspoon kosher salt</li>
              <li>1 teaspoon baking powder</li>
              <li>1 (8-ounce) package cream cheese, at room temperature</li>
              <li>1 cup (2 sticks) unsalted butter, at room temperature</li>
            </ul>
            <h5>Pie Filling</h5>
            <ul>
              <li>1¼ cups packed brown sugar</li>
              <li>½ cup maple syrup</li>
              <li>½ cup corn syrup</li>
              <li>¼ cup molasses</li>
              <li>2 tablespoons unsalted butter</li>
              <li>3 large eggs</li>
              <li>1 tablespoon vanilla</li>
              <li>2 tablespoons bourbon (optional)</li>
              <li>1 pound pecan halves or pieces</li>
              <li>1 cup semi-sweet chocolate chips</li>
            </ul>
          </div>
        </div>
        <div class="instruct">
          <div class="instructHead">
            <h6>Instructions</h6>
          </div>
          <h5>To make the pie dough:</h5>
          <div class="lineWrap">
            <div class="numb">
              <p>1</p>
            </div>
            <div class="line">
              <p>Lightly coat two 9-inch pie pans with nonstick cooking spray.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>2</p>
            </div>
            <div class="line">
              <p>In a large bowl, combine the flour, sugar, and salt. Sift in the baking powder to ensure there are no lumps.
Using a stand mixer fitted with a paddle attachment, cream the butter and cream cheese until light and fluffy. Scrape down the sides of the bowl and the paddle. Add the flour mixture and mix just until the dough comes together. Transfer the dough to a lightly floured counter and knead until smooth, about 2 minutes. Cover with plastic wrap, and chill in the refrigerator until slightly firm, but not hard, 15 to 20 minutes.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>3</p>
            </div>
            <div class="line">
              <p>Divide the dough in half and form each half into a ball. Roll each ball of dough into a disc just larger than the circumference of the pans. Line each pan with dough, taking care to trim off the excess. Chill in the refrigerator until ready to use.</p>
            </div>
          </div>
          <h5>To make the filling:</h5>
          <div class="lineWrap">
            <div class="numb">
              <p>1</p>
            </div>
            <div class="line">
              <p>Heat the oven to 325 degrees F.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>2</p>
            </div>
            <div class="line">
              <p>In a medium saucepan, combine the brown sugar, maple syrup, corn syrup, molasses and butter. Cook, stirring occasionally, until the butter is melted but the syrup isn’t boiling. In a large bowl, whisk together the eggs and vanilla until completely combined. </p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>3</p>
            </div>
            <div class="line">
              <p>Add the syrup mixture to the egg mixture and whisk until smooth. Whisk in the bourbon, if desired. Let cool to room temperature.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>4</p>
            </div>
            <div class="line">
              <p>Evenly divide the pecans and chocolate chips between each pie shell. Pour the syrup mixture over the nuts, distributing it evenly between the two pie shells.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>5</p>
            </div>
            <div class="line">
              <p>Bake until golden brown and the pie is slightly souffled, yet firm, about 1 hour. Test by sticking a knife in the center of the pie. If the tip comes out looking very wet, continue to bake until the knife comes out looking more sticky than wet. Let the pies cool completely before serving.</p>
            </div>
          </div>
        </div>
        </div>
      </div>

      <div class="divider">
        <div class="dLine"></div>
        <div class="dLine"></div>
        <div class="dLine"></div>
      </div>

      <div class="cardWrap">
        <div class="resTitle">
          <p>Pecan Pie Brownies</p>
        </div>
        <div class="shadowWrap">
        <div class="ingred">
          <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Mask_Group_46.jpg?v=1695241732" />
          <div class="ingredBox">
            <div class="instructHead">
              <h6>Ingredients</h6>
            </div>
            <h5>1 box brownie mix</h5>
            <p>(must have instructions for making in 13×9 pan + ingredients listed on the package)</p>
            <h5>Pecan Pie Filling:</h5>
            <ul>
              <li>1 cup sugar</li>
              <li>1½ cups light corn syrup</li>
              <li>4 eggs</li>
              <li>¼ cup unsalted butter</li>
              <li>1½ teaspoon vanilla extract</li>
              <li>2 cups pecans roughly chopped</li>
            </ul>
          </div>
        </div>
        <div class="instruct">
          <div class="instructHead">
            <h6>Instructions</h6>
          </div>
          <h5>To make the pie dough:</h5>
          <div class="lineWrap">
            <div class="numb">
              <p>1</p>
            </div>
            <div class="line">
              <p>Preheat oven according to brownie package instructions.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>2</p>
            </div>
            <div class="line">
              <p>Whisk together the sugar, corn syrup, eggs, butter, and vanilla in a small saucepan. Place on the stovetop over medium-high heat and begin to cook, stirring continuously.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>3</p>
            </div>
            <div class="line">
              <p>Mix brownies according to package instructions.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>4</p>
            </div>
            <div class="line">
              <p>Pour brownie batter into a greased 13×9-inch pan and place in oven to bake for 20 minutes.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>5</p>
            </div>
            <div class="line">
              <p>As the brownies bake, the filling in the saucepan should have thickened enough to coat your spoon (about 15 minutes). Stir the pecans into the mixture and continue to cook for 2-3 minutes until the mixture reaches the consistency of runny oatmeal. You want it to be loose enough to pour over the brownies but not liquid.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>6</p>
            </div>
            <div class="line">
              <p>When the brownies have finished pre-baking, remove them from the oven and pour the pecan pie filling over them, spreading it out to cover the brownies completely.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>7</p>
            </div>
            <div class="line">
              <p>Place the brownies back in the oven and bake for 25-30 minutes or until the filling only jiggles slightly in the middle when you move the pan.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>8</p>
            </div>
            <div class="line">
              <p>Let cool to room temperature before cutting.</p>
            </div>
          </div>
        </div>
        </div>
      </div>

      <div class="divider">
        <div class="dLine"></div>
        <div class="dLine"></div>
        <div class="dLine"></div>
      </div>

      <div class="cardWrap">
        <div class="resTitle">
          <p>Microwave Pecan Brittle</p>
        </div>
        <div class="shadowWrap">
        <div class="ingred">
          <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Mask_Group_50.jpg?v=1695242472" />
          <div class="ingredBox">
            <div class="instructHead">
              <h6>Ingredients</h6>
            </div>
            
            <ul>
              <li>2 cups sugar</li>
              <li>1 cup light corn syrup</li>
              <li>2 cups chopped pecans</li>
              <li>½ teaspoon salt</li>
              <li>1 tablespoon butter</li>
              <li>1 teaspoon vanilla</li>
              <li>½ teaspoon baking soda</li>
            </ul>
          </div>
        </div>
        <div class="instruct">
          <div class="instructHead">
            <h6>Instructions</h6>
          </div>
          <h5>To make the pie dough:</h5>
          <div class="lineWrap">
            <div class="numb">
              <p>1</p>
            </div>
            <div class="line">
              <p>Combine sugar and corn syrup in large microwave safe bowl. Cook in the microwave on High Power for 5 to 6 minutes.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>2</p>
            </div>
            <div class="line">
              <p>Stir in pecan pieces. Cook on High Power for 3 to 5 minutes.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>3</p>
            </div>
            <div class="line">
              <p>Stir every 2 minutes until syrup and pecans are browned.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>4</p>
            </div>
            <div class="line">
              <p>Remove from microwave and stir in salt. Add butter, vanilla and baking soda. Stir until light and foamy.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>5</p>
            </div>
            <div class="line">
              <p>Spread on large, buttered cookie sheet.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>6</p>
            </div>
            <div class="line">
              <p>When cooled, break into pieces and store in a container that can be tightly sealed.</p>
            </div>
          </div>
          
          
        </div>
        </div>
      </div>

      <div class="divider">
        <div class="dLine"></div>
        <div class="dLine"></div>
        <div class="dLine"></div>
      </div>

      <div class="cardWrap">
        <div class="resTitle">
          <p>Christmas Fruitcake Cookies</p>
        </div>
        <div class="shadowWrap">
        <div class="ingred">
          <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Mask_Group_51.jpg?v=1695302143" />
          <div class="ingredBox">
            <div class="instructHead">
              <h6>Ingredients</h6>
            </div>
            
            <ul>
              <li>1 cup softened butter</li>
              <li>¾ cup packed brown sugar</li>
              <li>1 egg</li>
              <li>½ teaspoon vanilla extract</li>
              <li>1⅔ cups all-purpose flour</li>
              <li>⅓ teaspoon salt</li>
              <li>½ teaspoon baking soda</li>
              <li>4 ounces candied cherries (red or green, or mixed), halved</li>
              <li>4 ounces diced candied pineapple</li>
              <li>1½ cup finely cut dates</li>
              <li>1½ cup chopped pecans</li>
            </ul>
          </div>
        </div>
        <div class="instruct">
          <div class="instructHead">
            <h6>Instructions</h6>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>1</p>
            </div>
            <div class="line">
              <p>Cream butter, sugar, egg, and vanilla. Sift together flour, salt and soda and add to creamed mixture. Stir in fruit and nuts.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>2</p>
            </div>
            <div class="line">
              <p>Drop teaspoons of the mixture onto greased baking sheets.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>3</p>
            </div>
            <div class="line">
              <p>Bake at 325 degrees F for 15 minutes. Store in tightly sealed container.</p>
            </div>
          </div>
          
          
        </div>
        </div>
      </div>

      <div class="divider">
        <div class="dLine"></div>
        <div class="dLine"></div>
        <div class="dLine"></div>
      </div>

      <div class="cardWrap">
        <div class="resTitle">
          <p>Pecan Cream Pie</p>
        </div>
        <div class="shadowWrap">
        <div class="ingred">
          <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Mask_Group_52.jpg?v=1695306429" />
          <div class="ingredBox">
            <div class="instructHead">
              <h6>Ingredients</h6>
            </div>
            
            <ul>
              <li>9-inch pie shell, baked and cooled</li>
              <li>1 cup heavy whipping cream</li>
              <li>¼ cup powdered sugar</li>
              <li>2 bars (8 oz each) full-fat cream cheese, softened</li>
              <li>1½ teaspoons vanilla extract</li>
              <li>½ cup brown sugar</li>
              <li>¼ cup real maple syrup</li>
              <li>1 cup finely chopped pecans</li>
              <li>½ cup roughly chopped pecans</li>
            </ul>
          </div>
        </div>
        <div class="instruct">
          <div class="instructHead">
            <h6>Instructions</h6>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>1</p>
            </div>
            <div class="line">
              <p>In a bowl with a hand mixer or a stand mixer with the whisk, whip the heavy whipping cream and powdered sugar until stiff peaks form. About 5 minutes.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>2</p>
            </div>
            <div class="line">
              <p>In a separate bowl, blend together the cream cheese, vanilla extract, brown sugar, and maple syrup until combined and creamed together.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>3</p>
            </div>
            <div class="line">
              <p>Fold the whipped cream mixture into the cream cheese mixture and stir together.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>4</p>
            </div>
            <div class="line">
              <p>Add in the 1 cup finely chopped pecans and stir together until combined.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>5</p>
            </div>
            <div class="line">
              <p>Pour into the pie crust and smooth out the top. Garnish the top of pie with remaining ½ cup chopped pecans. </p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>6</p>
            </div>
            <div class="line">
              <p>Refrigerate for 4-6 hours before serving.</p>
            </div>
          </div>
          
          
        </div>
        </div>
      </div>

      <div class="divider">
        <div class="dLine"></div>
        <div class="dLine"></div>
        <div class="dLine"></div>
      </div>

      <div class="cardWrap">
        <div class="resTitle">
          <p>Snack Mix</p>
        </div>
        <div class="shadowWrap">
        <div class="ingred">
          <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/AdobeStock_328592130.jpg?v=1695826101" />
          <div class="ingredBox">
            <div class="instructHead">
              <h6>Ingredients</h6>
            </div>
            
            <ul>
              <li>1 cup pecan halves</li>
              <li>½ cup dried cranberries</li>
              <li>¼ cup pumpkin seeds (pepitas)</li>
              <li>¼ cup dark chocolate chips</li>
              <li>¼ cup whole-grain cereal (such as bran flakes or whole-grain Chex)</li>
              <li>A pinch of cinnamon and sea salt (to taste)</li>
              
            </ul>
          </div>
        </div>
        <div class="instruct">
          <div class="instructHead">
            <h6>Instructions</h6>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>1</p>
            </div>
            <div class="line">
              <p>In a mixing bowl, combine all the ingredients.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>2</p>
            </div>
            <div class="line">
              <p>Toss gently to mix evenly.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>3</p>
            </div>
            <div class="line">
              <p>Store the snack mix in an airtight container or easy to grab-and-go bags.</p>
            </div>
          </div>
          
          
          
        </div>
        </div>
      </div>

      <div class="divider">
        <div class="dLine"></div>
        <div class="dLine"></div>
        <div class="dLine"></div>
      </div>

      <div class="cardWrap">
        <div class="resTitle">
          <p>GeorgiaGrown Pecan Shortbread Cookies</p>
        </div>
        <div class="shadowWrap">
        <div class="ingred">
          <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/AdobeStock_756492245.jpg?v=1730302603" />
          <div class="ingredBox">
            <div class="instructHead">
              <h6>Ingredients</h6>
            </div>
            
            <ul>
              <li>1 Cup salted butter</li>
              <li>1 Cup confectioner's sugar</li>
              <li>1 Teaspoon vanilla extract</li>
              <li>2 Cups all-purpose flour</li>
              <li>1 Tablespoon milk</li>
              <li>½ Cup toasted and finely chopped Georgia pecans</li>
            </ul>
          </div>
        </div>
        <div class="instruct">
          <div class="instructHead">
            <h6>Directions:</h6>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>1</p>
            </div>
            <div class="line">
              <p>Heat oven to 350 degrees.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>2</p>
            </div>
            <div class="line">
              <p>With a handheld or stand mixer, beat butter, sugar and vanilla until light and fluffy.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>3</p>
            </div>
            <div class="line">
              <p>Add flour and mix until crumbly.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>4</p>
            </div>
            <div class="line">
              <p>Add pecans and milk, mixing just until mixture comes together.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>5</p>
            </div>
            <div class="line">
              <p>Tum out onto floured surface, and roll into a log. Slice into ¼ inch slices.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>6</p>
            </div>
            <div class="line">
              <p>Bake about 15 minutes or until golden.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>7</p>
            </div>
            <div class="line">
              <p>Let cool completely.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>8</p>
            </div>
            <div class="line">
              <p>Serve as is or create sandwich cookies with pecan butter and your favorite jelly.</p>
            </div>
          </div>
          
        </div>
        </div>
      </div>


      <div class="divider">
        <div class="dLine"></div>
        <div class="dLine"></div>
        <div class="dLine"></div>
      </div>

      <div class="cardWrap">
        <div class="resTitle">
          <p>Roasted Pecans</p>
        </div>
        <div class="shadowWrap">
        <div class="ingred">
          <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/AdobeStock_917808585.jpg?v=1730302606" />
          <div class="ingredBox">
            <div class="instructHead">
              <h6>Ingredients</h6>
            </div>
            
            <ul>
              <li>4 tablespoons melted butter</li>
              <li>2 teaspoons salt of your choice</li>
              <li>2 teaspoons Worcestershire sauce</li>
              <li>4 cups of pecan halves</li>
            </ul>
          </div>
        </div>
        <div class="instruct">
          <div class="instructHead">
            <h6>Directions:</h6>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>1</p>
            </div>
            <div class="line">
              <p>Preheat oven to 300 degrees</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>2</p>
            </div>
            <div class="line">
              <p>Combine all ingredients</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>3</p>
            </div>
            <div class="line">
              <p>Make sure Pecans are coated well</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>4</p>
            </div>
            <div class="line">
              <p>Spread in a single layer in a baking pan.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>5</p>
            </div>
            <div class="line">
              <p>Bake for 10 minutes</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>6</p>
            </div>
            <div class="line">
              <p>Stir and return to bake 10-15 minutes</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>7</p>
            </div>
            <div class="line">
              <p>Remove from oven when they are golden brown.</p>
            </div>
          </div>
          
          
        </div>
        </div>
      </div>
      



      <div class="divider">
        <div class="dLine"></div>
        <div class="dLine"></div>
        <div class="dLine"></div>
      </div>

      <div class="cardWrap">
        <div class="resTitle">
          <p>Southern Pecan Bread</p>
        </div>
        <div class="shadowWrap">
        <div class="ingred">
          <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/AdobeStock_781104446.jpg?v=1730302781" />
          <div class="ingredBox">
            <div class="instructHead">
            
            </div>
            <p>Author: Shelly </p>
            <p>Prep Time: 10 minutes Cook Time: 30 minutes Total Time: 40 minutes Yield: serves 12 􀀂 Category: Bread Method: Oven Cuisine: Side Dish</p>
            <p>Description:</p>
            <p>Southern Pecan Bread is completely indescribable! Super buttery, sweet and loaded with pecans. Serve it with your morning coffee or as a totally addictive Thanksgiving side dish everyone will love! Guaranteed to be a new family favorite!</p>
            <h6>Ingredients</h6>
            <ul>
              <li>1 ½ cups light brown sugar </li>
              <li>½ cup granulated sugar </li>
              <li>1 ¼ cup butter, melted </li>
              <li>4 eggs, lightly beaten x</li>
              <li>1 teaspoon vanilla </li>
              <li>½ teaspoon kosher salt </li>
              <li>1 ½ cups self-rising flour </li>
              <li>1 ½ cups chopped pecans</li>
            </ul>
          </div>
        </div>
        <div class="instruct">
          <div class="instructHead">
            <h6>Directions:</h6>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>1</p>
            </div>
            <div class="line">
              <p>Preheat oven to 350°F. </p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>2</p>
            </div>
            <div class="line">
              <p>Line a 9x13 baking dish with parchment paper. </p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>3</p>
            </div>
            <div class="line">
              <p>Coat generously with nonstick spray and set aside. </p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>4</p>
            </div>
            <div class="line">
              <p>In the bowl of your stand mixer fitted with the paddle attachment combine both the sugars and butter, mixing on low until combined. </p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>5</p>
            </div>
            <div class="line">
              <p>Add in the eggs, vanilla, and salt and turn mixer up to medium speed and mix for 1 minute until smooth. </p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>6</p>
            </div>
            <div class="line">
              <p>Turn mixer to low and mix in the flour until just combined. </p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>7</p>
            </div>
            <div class="line">
              <p>Fold in the pecans. </p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>8</p>
            </div>
            <div class="line">
              <p>8.	Transfer mixture to your prepared pan and bake for 30-35 minutes, or until the center is just set and the edges are lightly golden. </p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>9</p>
            </div>
            <div class="line">
              <p>Cool completely in the pan, and then cut into squares. </p>
            </div>
          </div>
          
          
        </div>
        </div>
      </div>

      

      <div class="divider">
        <div class="dLine"></div>
        <div class="dLine"></div>
        <div class="dLine"></div>
      </div>

      <div class="cardWrap">
        <div class="resTitle">
          <p>Spiced Sugar Pecans</p>
        </div>
        <div class="shadowWrap">
        <div class="ingred">
          <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/AdobeStock_975459977.jpg?v=1730302604" />
          <div class="ingredBox">
            <div class="instructHead">
              <h6>Ingredients</h6>
            </div>
         
      
            <ul>
              <li>1 egg white </li>
              <li>4 cups pecan halves </li>
              <li>1 cup sugar </li>
              <li>1 ½ tablespoons cinnamon ½ teaspoon salt</li>
            </ul>
          </div>
        </div>
        <div class="instruct">
          <div class="instructHead">
            <h6>Directions:</h6>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>1</p>
            </div>
            <div class="line">
              <p>Preheat oven to 320 degrees.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>2</p>
            </div>
            <div class="line">
              <p>Beat egg and salt in a bowl until frothy not stiff. </p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>3</p>
            </div>
            <div class="line">
              <p>Pour pecans into the above mixture and stir until nuts are well coated. </p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>4</p>
            </div>
            <div class="line">
              <p>Sift cinnamon and sugar together.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>5</p>
            </div>
            <div class="line">
              <p>Then pour over the pecan mixture until well coated. </p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>6</p>
            </div>
            <div class="line">
              <p>Grease baking pan with vegetable oil (not butter). </p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>7</p>
            </div>
            <div class="line">
              <p>Place mixture in pan in a single layer and bake for 10 minutes.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>8</p>
            </div>
            <div class="line">
              <p>Stir and bake for 10 minutes longer. </p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>9</p>
            </div>
            <div class="line">
              <p>Spread on wax paper to cool. </p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>10</p>
            </div>
            <div class="line">
              <p>Store in an airtight container.</p>
            </div>
          </div>
          
          
        </div>
        </div>
      </div>


       

      <div class="divider">
        <div class="dLine"></div>
        <div class="dLine"></div>
        <div class="dLine"></div>
      </div>

      <div class="cardWrap">
        <div class="resTitle">
          <p>Pecan Kisses</p>
        </div>
        <div class="shadowWrap">
        <div class="ingred">
          <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Picture1.jpg?v=1730302597" />
          <div class="ingredBox">
            <div class="instructHead">
              <h6>Ingredients</h6>
            </div>
         
      
            <ul>
              <li>1 egg white </li>
              <li>½ teaspoon vanilla flavoring </li>
              <li>¾ cup packed brown sugar </li>
              <li>2 cups pecan halves</li>
            </ul>
          </div>
        </div>
        <div class="instruct">
          <div class="instructHead">
            <h6>Directions:</h6>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>1</p>
            </div>
            <div class="line">
              <p>Preheat oven to 250 degrees</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>2</p>
            </div>
            <div class="line">
              <p>Beat egg white until real stiff </p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>3</p>
            </div>
            <div class="line">
              <p>Add vanilla, sugar and nuts </p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>4</p>
            </div>
            <div class="line">
              <p>Drop onto well-greased cookie sheet</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>5</p>
            </div>
            <div class="line">
              <p>Cook for 30 minutes</p>
            </div>
          </div>
          
        </div>
        </div>
      </div>


         

      <div class="divider">
        <div class="dLine"></div>
        <div class="dLine"></div>
        <div class="dLine"></div>
      </div>

      <div class="cardWrap">
        <div class="resTitle">
          <p>Quick and Easy Roasted Pecans</p>
        </div>
        <div class="shadowWrap">
        <div class="ingred">
          <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/AdobeStock_894447992.jpg?v=1730302607" />
          <div class="ingredBox">
            <div class="instructHead">
              <h6>Ingredients</h6>
            </div>
            <ul>
                <li>4 tablespoons butter </li>
                <li>4 cups pecan halves </li>
                <li>¾ teaspoon salt </li>
            </ul>
          </div>
        </div>
        <div class="instruct">
          <div class="instructHead">
            <h6>Directions:</h6>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>1</p>
            </div>
            <div class="line">
              <p>Preheat the oven to 300 degrees. </p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>2</p>
            </div>
            <div class="line">
              <p>Melt butter and add salt. </p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>3</p>
            </div>
            <div class="line">
              <p>3.	Place the pecans in a large baking pan and spread evenly in the pan. </p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>4</p>
            </div>
            <div class="line">
              <p>Pour butter and salt mixture over the nuts and stir to coat evenly. </p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>5</p>
            </div>
            <div class="line">
              <p>Bake for about 15 minutes. Remove and stir the nuts. Return to oven and bake about 15 more minutes. Can bake longer until you get the desired brownness of the nuts you desire. Watch carefully not to burn the nuts.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>6</p>
            </div>
            <div class="line">
              <p>Store in tightly sealed container until ready to eat or serve.</p>
            </div>
          </div>
          
        </div>
        </div>
      </div>


    </div>
  </div>
</div>