<style>
  .woodWrap {
    width: 100%;
    background: url("https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Mask_Group_11.jpg?v=1692981418");
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
    padding: 14px 0;
    z-index: -1;
  }

  #shopify-section-template--20710881034556__index-wood {
    height: 405px;
  }

  .greenBox {
    width: 85%;
    background-color: #EBF8CEdd;
    padding: 25px;
    box-shadow: 0 0 16px #000000dd
  }

  .headTitle {
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
  }

  .allCardWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 45px;
  }

  .cardWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .resTitle {
    width: 25%;
    background-color: #060707;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
  }

  .resTitle p {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
  }

  .shadowWrap {
    box-shadow: 5px 5px 8px #000000aa;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  

  .ingred {
    display: flex;
  }

  .ingred img {
    width: 50%;
  }

  .ingredBox {
    display: block !important;
    width: 50%;
    background-color: white;
    border-top-right-radius: 15px;
  }

  .instruct {
    width: 100%;
    background-color: #F3F9E5;
    padding: 10px 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .instructHead {
    border-bottom: 1px solid #707070;
  }

  .instructHead h6 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    padding-bottom: 5px;
  }

  .instruct h5 {
    color: #588100;
  }
</style>

<div class="woodWrap">
  <div class="greenBox">
    <div class="headTitle">
      <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Component_1_1.png?v=1695229497" />
    </div>
    <div class="allCardWrap">
      <div class="cardWrap">
        <div class="resTitle">
          <p>Chocolate Pecan Pie</p>
        </div>
        <div class="shadowWrap">
        <div class="ingred">
          <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Mask_Group_45.jpg?v=1695230902" />
          <div class="ingredBox"></div>
        </div>
        <div class="instruct">
          <div class="instructHead">
            <h6>Instructions</h6>
          </div>
          <h5>To make the pie dough:</h5>
          <h5>To make the filling:</h5>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>