<style>
  .woodWrap {
    width: 100%;
    background: url("https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Mask_Group_11.jpg?v=1692981418");
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
    padding: 14px 0;
    z-index: -1;
  }

  #shopify-section-template--20710881034556__index-wood {
    height: 405px;
  }

  .greenBox {
    width: 85%;
    background-color: #EBF8CEdd;
    padding: 25px;
    box-shadow: 0 0 16px #000000dd
  }

  .headTitle {
    display: flex;
    justify-content: space-arround;
  }

  .allCardWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 45px;
  }

  .cardWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .title {
    
  }

  .shadowWrap {
    
  }

  .ingred {
    
  }

  .instruct {
    
  }
</style>

<div class="woodWrap">
  <div class="greenBox">
    <div class="headTitle">
      <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Component_1_1.png?v=1695229497" />
    </div>
    <div class="allCardWrap">
      <div class="cardWrap">
        <div class="title"></div>
        <div class="shadowWrap">
        <div class="ingred"></div>
        <div class="instruct"></div>
        </div>
      </div>
    </div>
  </div>
</div>