<style>
  .woodWrap {
    width: 100%;
    background: url("https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Mask_Group_11.jpg?v=1692981418");
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
    padding: 14px 0;
    z-index: -1;
  }

  #shopify-section-template--20710881034556__index-wood {
    height: 405px;
  }

  .greenBox {
    width: 85%;
    background-color: #EBF8CEdd;
    padding: 25px;
    box-shadow: 0 0 16px #000000dd
  }

  .headTitle {
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
    
  }

  .headTitle img {
    object-fit: contain;
  }

  .allCardWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 45px;
  }

  .cardWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .resTitle {
    width: 25%;
    background-color: #060707;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
  }

  .resTitle p {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
  }

  .shadowWrap {
    box-shadow: 5px 5px 8px #000000aa;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  

  .ingred {
    display: flex;
  }

  .ingred img {
    width: 50%;
  }

  .ingredBox {
    display: block !important;
    width: 50%;
    background-color: white;
    border-top-right-radius: 15px;
    padding: 10px 30px;
  }

  .instruct {
    width: 100%;
    background-color: #F3F9E5;
    padding: 10px 40px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .instructHead {
    border-bottom: 1px solid #707070;
  }

  .instructHead h6 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    padding-bottom: 5px;
  }

  .instruct h5, .ingredBox h5 {
    color: #588100;
    font-weight: bold;
  }

  .lineWrap {
    display: flex;
    margin-bottom: 5px;
  }

  .numb {
    padding: 0 10px;
    margin-right: 10px;
    border-radius: 90%;
    background-color: #CFE0A9;
    align-self: start; 
  }

  .numb p {
    font-size: 1.8rem;
    font-weight: bold;
    color: #588100;
    margin: 0;
  }

  .line p {
    margin: 0;
  }
</style>

<div class="woodWrap">
  <div class="greenBox">
    <div class="headTitle">
      <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Component_1_1.png?v=1695229497" />
    </div>
    <div class="allCardWrap">
      <div class="cardWrap">
        <div class="resTitle">
          <p>Chocolate Pecan Pie</p>
        </div>
        <div class="shadowWrap">
        <div class="ingred">
          <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Mask_Group_45.jpg?v=1695230902" />
          <div class="ingredBox">
            <div class="instructHead">
              <h6>Ingredients</h6>
            </div>
            <h5>Cream Cheese Pie Dough</h5>
            <ul>
              <li>3½ cups all-purpose flour</li>
              <li>2 tablespoons sugar</li>
              <li>½ teaspoon kosher salt</li>
              <li>1 teaspoon baking powder</li>
              <li>1 (8-ounce) package cream cheese, at room temperature</li>
              <li>1 cup (2 sticks) unsalted butter, at room temperature</li>
            </ul>
            <h5>Pie Filling</h5>
            <ul>
              <li>1¼ cups packed brown sugar</li>
              <li>½ cup maple syrup</li>
              <li>½ cup corn syrup</li>
              <li>¼ cup molasses</li>
              <li>2 tablespoons unsalted butter</li>
              <li>3 large eggs</li>
              <li>1 tablespoon vanilla</li>
              <li>2 tablespoons bourbon (optional)</li>
              <li>1 pound pecan halves or pieces</li>
              <li>1 cup semi-sweet chocolate chips</li>
            </ul>
          </div>
        </div>
        <div class="instruct">
          <div class="instructHead">
            <h6>Instructions</h6>
          </div>
          <h5>To make the pie dough:</h5>
          <div class="lineWrap">
            <div class="numb">
              <p>1</p>
            </div>
            <div class="line">
              <p>Lightly coat two 9-inch pie pans with nonstick cooking spray.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>2</p>
            </div>
            <div class="line">
              <p>In a large bowl, combine the flour, sugar, and salt. Sift in the baking powder to ensure there are no lumps.
Using a stand mixer fitted with a paddle attachment, cream the butter and cream cheese until light and fluffy. Scrape down the sides of the bowl and the paddle. Add the flour mixture and mix just until the dough comes together. Transfer the dough to a lightly floured counter and knead until smooth, about 2 minutes. Cover with plastic wrap, and chill in the refrigerator until slightly firm, but not hard, 15 to 20 minutes.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>3</p>
            </div>
            <div class="line">
              <p>Divide the dough in half and form each half into a ball. Roll each ball of dough into a disc just larger than the circumference of the pans. Line each pan with dough, taking care to trim off the excess. Chill in the refrigerator until ready to use.</p>
            </div>
          </div>
          <h5>To make the filling:</h5>
          <div class="lineWrap">
            <div class="numb">
              <p>1</p>
            </div>
            <div class="line">
              <p>Heat the oven to 325 degrees F.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>2</p>
            </div>
            <div class="line">
              <p>In a medium saucepan, combine the brown sugar, maple syrup, corn syrup, molasses and butter. Cook, stirring occasionally, until the butter is melted but the syrup isn’t boiling. In a large bowl, whisk together the eggs and vanilla until completely combined. </p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>3</p>
            </div>
            <div class="line">
              <p>Add the syrup mixture to the egg mixture and whisk until smooth. Whisk in the bourbon, if desired. Let cool to room temperature.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>4</p>
            </div>
            <div class="line">
              <p>Evenly divide the pecans and chocolate chips between each pie shell. Pour the syrup mixture over the nuts, distributing it evenly between the two pie shells.</p>
            </div>
          </div>
          <div class="lineWrap">
            <div class="numb">
              <p>5</p>
            </div>
            <div class="line">
              <p>Bake until golden brown and the pie is slightly souffled, yet firm, about 1 hour. Test by sticking a knife in the center of the pie. If the tip comes out looking very wet, continue to bake until the knife comes out looking more sticky than wet. Let the pies cool completely before serving.</p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>