<style>
  .heroWrap {
    width: 100%;
    background: url("https://cdn.shopify.com/s/files/1/0816/7306/0668/files/spp-home-hero.jpg?v=1692808587");
    background-size: cover;
    height: 756px;
    position: relative;
    z-index: 2;
    top: -15px;
    background-repeat: no-repeat;
    display: block !important;
    box-shadow: 0px 18px 36px #00000099;
    border-bottom: 2px solid white;
    padding: 5%;
    display: flex;
  }

  .tab {
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    position: absolute;
    bottom: 35%;
    z-index: 25;
    right: 0;
    width: 135px;
    box-shadow: 0 0 12px;
  }

  .contentLeftWrap {
    width: 75%;
    height: 90%;
    position: absolute;
    right: 0;
    top: 8%;
    padding-right: 80px;
    display: flex;
    align-items: center;
    justify-self: flex-end;
  }

  .heroInfoBox {
    width: 60%;
    height: 75%;
    position: absolute;
    right: 340px;
    z-index: 1;
    background-color: #000000bb;
    padding: 20px 350px 40px 40px;
  }

  .heroInfoBox h2 {
    color: white;
    font-size: 6.5rem;
    font-weight: bold;
  }

  .heroInfoBox h6 {
    color: #E4FAB4;
    font-size: 2rem;
  }

  .contentLeftWrap img {
    position: absolute;
    right: 40px;
    z-index: 5;
    object-fit: contain;
  }
</style>

<div class="heroWrap">
  <div class="tab">
    <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/Georgia_Grown_Logo_-_Centennial_Georgia_Farms_Logos.jpg?v=1693229115" />
  </div>
  <div class="contentLeftWrap">
    <div class="heroInfoBox">
      <h2><i>Heart Healthy. <br>Georgia Grown.</i></h2>
      <h6>Experience the flavors of real Georgia pecans straight from the tree. Southern Pecan Products grows and harvests fresh Georgia pecans ideal for snacking, baking, and gifting to loved ones.</h6>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/0816/7306/0668/files/DSC_3824.png?v=1693231731" />
  </div>
</div>