<div class="headWrap">
  <div class="headTop"><h1></h1></div>
  <div class="headBottom"><h1></h1></div>
</div>


<style>
  .headWrap {
    width: 100%;
    background-color: #FFFFFF;
  }

  .headTop {
    background: url("https://cdn.shopify.com/s/files/1/0816/7306/0668/files/spptophead.jpg");
    background-size: cover;
    width: 100%;
    min-height: 90px;
    position: relative;
    top: 0;
  }

  .headBottom {
    background-color: #78B000;
    width: 100%;
    min-height: 90px;
    position: relative;
    top: 10px;
  }

  .headTop h1, .headBottom h1 {
    margin-top: 0;
  }
</style>


{% schema %}
{
  "name": "t:sections.spp-header-bar.name",
  "tag": "section",
  "class": "section"
  
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
