<style>
  .heroWrap {
    width: 100%;
    background: url("https://cdn.shopify.com/s/files/1/0816/7306/0668/files/spp-home-hero.jpg?v=1692808587");
    background-size: cover;
    height: 756px;
    position: relative;
    z-index: 2;
    top: -15px;
    background-repeat: no-repeat;
    display: block !important;
    box-shadow: 0px 18px 36px #00000099;
    border-bottom: 2px solid white;
  }
</style>

<div class="heroWrap"></div>